.button{
	border: none;
    padding: 0.5em;
    width: 8em;
    height: 2em;
	background-color: #201E50;
	color: #b64035;
	font-weight: bold;
	font-size: 1em;
    font-family: sans-serif;
    margin: 1em;
    border-radius: 1em;
}

.button:hover{
    transition: 0.5s;
    color: #e62514;
    box-shadow:  0px 0px 3px 4px#b64035;
}