.App {
   position:absolute;
   display: flex;
   flex-direction: column;
   text-align: center;
   background-position: center;
   background-image: url('./Imagenes/Backround.jpg');
   min-height: 100%;
   min-width: 100%;
   background-attachment: fixed;
   image-rendering: optimizeQuality;
   background-repeat: no-repeat;
}

.divNavBar{
   position: relative;
   display:flex;
   flex-direction: row;
   justify-content: center;
   
}